// _brand.scss
$brand-primary: #101828;
$brand-text-light: white;
$brand-accent: #c68922;
$brand-accent-hover: #db9e2d;
$brand-link: #5dc8e8;
$brand-link-hover: #47a3c4;
$brand-bg-light: #f4f7fa;
$brand-text-dark: #333333;

$font-heading: 'Merriweather', serif;
$font-body: 'Open Sans', sans-serif;

$spacing-base: 8px;
$border-radius-base: 4px;
