    .chart-container{
        --color-from-score-100: hsl(120, 100%, 50%, 0.6);
        --color-from-score-99: hsl(118.8, 100%, 50%, 0.6);
        --color-from-score-98: hsl(117.6, 100%, 50%, 0.6);
        --color-from-score-97: hsl(116.4, 100%, 50%, 0.6);
        --color-from-score-96: hsl(115.2, 100%, 50%, 0.6);
        --color-from-score-95: hsl(114, 100%, 50%, 0.6);
        --color-from-score-94: hsl(112.8, 100%, 50%, 0.6);
        --color-from-score-93: hsl(111.6, 100%, 50%, 0.6);
        --color-from-score-92: hsl(110.4, 100%, 50%, 0.6);
        --color-from-score-91: hsl(109.2, 100%, 50%, 0.6);
        --color-from-score-90: hsl(108, 100%, 50%, 0.6);
        --color-from-score-89: hsl(106.8, 100%, 50%, 0.6);
        --color-from-score-88: hsl(105.6, 100%, 50%, 0.6);
        --color-from-score-87: hsl(104.4, 100%, 50%, 0.6);
        --color-from-score-86: hsl(103.2, 100%, 50%, 0.6);
        --color-from-score-85: hsl(102, 100%, 50%, 0.6);
        --color-from-score-84: hsl(100.8, 100%, 50%, 0.6);
        --color-from-score-83: hsl(99.6, 100%, 50%, 0.6);
        --color-from-score-82: hsl(98.4, 100%, 50%, 0.6);
        --color-from-score-81: hsl(97.2, 100%, 50%, 0.6);
        --color-from-score-80: hsl(96, 100%, 50%, 0.6);
        --color-from-score-79: hsl(94.8, 100%, 50%, 0.6);
        --color-from-score-78: hsl(93.6, 100%, 50%, 0.6);
        --color-from-score-77: hsl(92.4, 100%, 50%, 0.6);
        --color-from-score-76: hsl(91.2, 100%, 50%, 0.6);
        --color-from-score-75: hsl(90, 100%, 50%, 0.6);
        --color-from-score-74: hsl(88.8, 100%, 50%, 0.6);
        --color-from-score-73: hsl(87.6, 100%, 50%, 0.6);
        --color-from-score-72: hsl(86.4, 100%, 50%, 0.6);
        --color-from-score-71: hsl(85.2, 100%, 50%, 0.6);
        --color-from-score-70: hsl(84, 100%, 50%, 0.6);
        --color-from-score-69: hsl(82.8, 100%, 50%, 0.6);
        --color-from-score-68: hsl(81.6, 100%, 50%, 0.6);
        --color-from-score-67: hsl(80.4, 100%, 50%, 0.6);
        --color-from-score-66: hsl(79.2, 100%, 50%, 0.6);
        --color-from-score-65: hsl(78, 100%, 50%, 0.6);
        --color-from-score-64: hsl(76.8, 100%, 50%, 0.6);
        --color-from-score-63: hsl(75.6, 100%, 50%, 0.6);
        --color-from-score-62: hsl(74.4, 100%, 50%, 0.6);
        --color-from-score-61: hsl(73.2, 100%, 50%, 0.6);
        --color-from-score-60: hsl(72, 100%, 50%, 0.6);
        --color-from-score-59: hsl(70.8, 100%, 50%, 0.6);
        --color-from-score-58: hsl(69.6, 100%, 50%, 0.6);
        --color-from-score-57: hsl(68.4, 100%, 50%, 0.6);
        --color-from-score-56: hsl(67.2, 100%, 50%, 0.6);
        --color-from-score-55: hsl(66, 100%, 50%, 0.6);
        --color-from-score-54: hsl(64.8, 100%, 50%, 0.6);
        --color-from-score-53: hsl(63.6, 100%, 50%, 0.6);
        --color-from-score-52: hsl(62.4, 100%, 50%, 0.6);
        --color-from-score-51: hsl(61.2, 100%, 50%, 0.6);
        --color-from-score-50: hsl(60, 100%, 50%, 0.6);
        --color-from-score-49: hsl(58.8, 100%, 50%, 0.6);
        --color-from-score-48: hsl(57.6, 100%, 50%, 0.6);
        --color-from-score-47: hsl(56.4, 100%, 50%, 0.6);
        --color-from-score-46: hsl(55.2, 100%, 50%, 0.6);
        --color-from-score-45: hsl(54, 100%, 50%, 0.6);
        --color-from-score-44: hsl(52.8, 100%, 50%, 0.6);
        --color-from-score-43: hsl(51.6, 100%, 50%, 0.6);
        --color-from-score-42: hsl(50.4, 100%, 50%, 0.6);
        --color-from-score-41: hsl(49.2, 100%, 50%, 0.6);
        --color-from-score-40: hsl(48, 100%, 50%, 0.6);
        --color-from-score-39: hsl(46.8, 100%, 50%, 0.6);
        --color-from-score-38: hsl(45.6, 100%, 50%, 0.6);
        --color-from-score-37: hsl(44.4, 100%, 50%, 0.6);
        --color-from-score-36: hsl(43.2, 100%, 50%, 0.6);
        --color-from-score-35: hsl(42, 100%, 50%, 0.6);
        --color-from-score-34: hsl(40.8, 100%, 50%, 0.6);
        --color-from-score-33: hsl(39.6, 100%, 50%, 0.6);
        --color-from-score-32: hsl(38.4, 100%, 50%, 0.6);
        --color-from-score-31: hsl(37.2, 100%, 50%, 0.6);
        --color-from-score-30: hsl(36, 100%, 50%, 0.6);
        --color-from-score-29: hsl(34.8, 100%, 50%, 0.6);
        --color-from-score-28: hsl(33.6, 100%, 50%, 0.6);
        --color-from-score-27: hsl(32.4, 100%, 50%, 0.6);
        --color-from-score-26: hsl(31.2, 100%, 50%, 0.6);
        --color-from-score-25: hsl(30, 100%, 50%, 0.6);
        --color-from-score-24: hsl(28.8, 100%, 50%, 0.6);
        --color-from-score-23: hsl(27.6, 100%, 50%, 0.6);
        --color-from-score-22: hsl(26.4, 100%, 50%, 0.6);
        --color-from-score-21: hsl(25.2, 100%, 50%, 0.6);
        --color-from-score-20: hsl(24, 100%, 50%, 0.6);
        --color-from-score-19: hsl(22.8, 100%, 50%, 0.6);
        --color-from-score-18: hsl(21.6, 100%, 50%, 0.6);
        --color-from-score-17: hsl(20.4, 100%, 50%, 0.6);
        --color-from-score-16: hsl(19.2, 100%, 50%, 0.6);
        --color-from-score-15: hsl(18, 100%, 50%, 0.6);
        --color-from-score-14: hsl(16.8, 100%, 50%, 0.6);
        --color-from-score-13: hsl(15.6, 100%, 50%, 0.6);
        --color-from-score-12: hsl(14.4, 100%, 50%, 0.6);
        --color-from-score-11: hsl(13.2, 100%, 50%, 0.6);
        --color-from-score-10: hsl(12, 100%, 50%, 0.6);
        --color-from-score-9: hsl(10.8, 100%, 50%, 0.6);
        --color-from-score-8: hsl(9.6, 100%, 50%, 0.6);
        --color-from-score-7: hsl(8.4, 100%, 50%, 0.6);
        --color-from-score-6: hsl(7.2, 100%, 50%, 0.6);
        --color-from-score-5: hsl(6, 100%, 50%, 0.6);
        --color-from-score-4: hsl(4.8, 100%, 50%, 0.6);
        --color-from-score-3: hsl(3.6, 100%, 50%, 0.6);
        --color-from-score-2: hsl(2.4, 100%, 50%, 0.6);
        --color-from-score-1: hsl(1.2, 100%, 50%, 0.6);
        --color-from-score-0: hsl(0, 100%, 50%, 0.6);

        --border-color-from-score-100: hsl(120, 100%, 50%, 1);
        --border-color-from-score-99: hsl(118.8, 100%, 50%, 1);
        --border-color-from-score-98: hsl(117.6, 100%, 50%, 1);
        --border-color-from-score-97: hsl(116.4, 100%, 50%, 1);
        --border-color-from-score-96: hsl(115.2, 100%, 50%, 1);
        --border-color-from-score-95: hsl(114, 100%, 50%, 1);
        --border-color-from-score-94: hsl(112.8, 100%, 50%, 1);
        --border-color-from-score-93: hsl(111.6, 100%, 50%, 1);
        --border-color-from-score-92: hsl(110.4, 100%, 50%, 1);
        --border-color-from-score-91: hsl(109.2, 100%, 50%, 1);
        --border-color-from-score-90: hsl(108, 100%, 50%, 1);
        --border-color-from-score-89: hsl(106.8, 100%, 50%, 1);
        --border-color-from-score-88: hsl(105.6, 100%, 50%, 1);
        --border-color-from-score-87: hsl(104.4, 100%, 50%, 1);
        --border-color-from-score-86: hsl(103.2, 100%, 50%, 1);
        --border-color-from-score-85: hsl(102, 100%, 50%, 1);
        --border-color-from-score-84: hsl(100.8, 100%, 50%, 1);
        --border-color-from-score-83: hsl(99.6, 100%, 50%, 1);
        --border-color-from-score-82: hsl(98.4, 100%, 50%, 1);
        --border-color-from-score-81: hsl(97.2, 100%, 50%, 1);
        --border-color-from-score-80: hsl(96, 100%, 50%, 1);
        --border-color-from-score-79: hsl(94.8, 100%, 50%, 1);
        --border-color-from-score-78: hsl(93.6, 100%, 50%, 1);
        --border-color-from-score-77: hsl(92.4, 100%, 50%, 1);
        --border-color-from-score-76: hsl(91.2, 100%, 50%, 1);
        --border-color-from-score-75: hsl(90, 100%, 50%, 1);
        --border-color-from-score-74: hsl(88.8, 100%, 50%, 1);
        --border-color-from-score-73: hsl(87.6, 100%, 50%, 1);
        --border-color-from-score-72: hsl(86.4, 100%, 50%, 1);
        --border-color-from-score-71: hsl(85.2, 100%, 50%, 1);
        --border-color-from-score-70: hsl(84, 100%, 50%, 1);
        --border-color-from-score-69: hsl(82.8, 100%, 50%, 1);
        --border-color-from-score-68: hsl(81.6, 100%, 50%, 1);
        --border-color-from-score-67: hsl(80.4, 100%, 50%, 1);
        --border-color-from-score-66: hsl(79.2, 100%, 50%, 1);
        --border-color-from-score-65: hsl(78, 100%, 50%, 1);
        --border-color-from-score-64: hsl(76.8, 100%, 50%, 1);
        --border-color-from-score-63: hsl(75.6, 100%, 50%, 1);
        --border-color-from-score-62: hsl(74.4, 100%, 50%, 1);
        --border-color-from-score-61: hsl(73.2, 100%, 50%, 1);
        --border-color-from-score-60: hsl(72, 100%, 50%, 1);
        --border-color-from-score-59: hsl(70.8, 100%, 50%, 1);
        --border-color-from-score-58: hsl(69.6, 100%, 50%, 1);
        --border-color-from-score-57: hsl(68.4, 100%, 50%, 1);
        --border-color-from-score-56: hsl(67.2, 100%, 50%, 1);
        --border-color-from-score-55: hsl(66, 100%, 50%, 1);
        --border-color-from-score-54: hsl(64.8, 100%, 50%, 1);
        --border-color-from-score-53: hsl(63.6, 100%, 50%, 1);
        --border-color-from-score-52: hsl(62.4, 100%, 50%, 1);
        --border-color-from-score-51: hsl(61.2, 100%, 50%, 1);
        --border-color-from-score-50: hsl(60, 100%, 50%, 1);
        --border-color-from-score-49: hsl(58.8, 100%, 50%, 1);
        --border-color-from-score-48: hsl(57.6, 100%, 50%, 1);
        --border-color-from-score-47: hsl(56.4, 100%, 50%, 1);
        --border-color-from-score-46: hsl(55.2, 100%, 50%, 1);
        --border-color-from-score-45: hsl(54, 100%, 50%, 1);
        --border-color-from-score-44: hsl(52.8, 100%, 50%, 1);
        --border-color-from-score-43: hsl(51.6, 100%, 50%, 1);
        --border-color-from-score-42: hsl(50.4, 100%, 50%, 1);
        --border-color-from-score-41: hsl(49.2, 100%, 50%, 1);
        --border-color-from-score-40: hsl(48, 100%, 50%, 1);
        --border-color-from-score-39: hsl(46.8, 100%, 50%, 1);
        --border-color-from-score-38: hsl(45.6, 100%, 50%, 1);
        --border-color-from-score-37: hsl(44.4, 100%, 50%, 1);
        --border-color-from-score-36: hsl(43.2, 100%, 50%, 1);
        --border-color-from-score-35: hsl(42, 100%, 50%, 1);
        --border-color-from-score-34: hsl(40.8, 100%, 50%, 1);
        --border-color-from-score-33: hsl(39.6, 100%, 50%, 1);
        --border-color-from-score-32: hsl(38.4, 100%, 50%, 1);
        --border-color-from-score-31: hsl(37.2, 100%, 50%, 1);
        --border-color-from-score-30: hsl(36, 100%, 50%, 1);
        --border-color-from-score-29: hsl(34.8, 100%, 50%, 1);
        --border-color-from-score-28: hsl(33.6, 100%, 50%, 1);
        --border-color-from-score-27: hsl(32.4, 100%, 50%, 1);
        --border-color-from-score-26: hsl(31.2, 100%, 50%, 1);
        --border-color-from-score-25: hsl(30, 100%, 50%, 1);
        --border-color-from-score-24: hsl(28.8, 100%, 50%, 1);
        --border-color-from-score-23: hsl(27.6, 100%, 50%, 1);
        --border-color-from-score-22: hsl(26.4, 100%, 50%, 1);
        --border-color-from-score-21: hsl(25.2, 100%, 50%, 1);
        --border-color-from-score-20: hsl(24, 100%, 50%, 1);
        --border-color-from-score-19: hsl(22.8, 100%, 50%, 1);
        --border-color-from-score-18: hsl(21.6, 100%, 50%, 1);
        --border-color-from-score-17: hsl(20.4, 100%, 50%, 1);
        --border-color-from-score-16: hsl(19.2, 100%, 50%, 1);
        --border-color-from-score-15: hsl(18, 100%, 50%, 1);
        --border-color-from-score-14: hsl(16.8, 100%, 50%, 1);
        --border-color-from-score-13: hsl(15.6, 100%, 50%, 1);
        --border-color-from-score-12: hsl(14.4, 100%, 50%, 1);
        --border-color-from-score-11: hsl(13.2, 100%, 50%, 1);
        --border-color-from-score-10: hsl(12, 100%, 50%, 1);
        --border-color-from-score-9: hsl(10.8, 100%, 50%, 1);
        --border-color-from-score-8: hsl(9.6, 100%, 50%, 1);
        --border-color-from-score-7: hsl(8.4, 100%, 50%, 1);
        --border-color-from-score-6: hsl(7.2, 100%, 50%, 1);
        --border-color-from-score-5: hsl(6, 100%, 50%, 1);
        --border-color-from-score-4: hsl(4.8, 100%, 50%, 1);
        --border-color-from-score-3: hsl(3.6, 100%, 50%, 1);
        --border-color-from-score-2: hsl(2.4, 100%, 50%, 1);
        --border-color-from-score-1: hsl(1.2, 100%, 50%, 1);
        --border-color-from-score-0: hsl(0, 100%, 50%, 1);
    }